.wrapper {
  width: 450px;
  height: 450px;
  position: relative;
  background: red;
/*    margin-top: -100px;*/
/*    padding-top: 100px;*/
    box-sizing: border-box;
    padding-top: 300px;
}

.box {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  box-sizing: border-box;
  border: 1px solid #000;
}

.box-1 {
    margin-left: 300px;
    margin-bottom: -150px;   
}
.box-2 {
    margin-left: 150px;
    margin-bottom: -300px;
}
.box-3 {
    margin-left: 300px;
    margin-bottom: -150px;
}
.box-4 {
    margin-left: 150px;
    margin-bottom: -300px;
}
.box-5 {
    margin-left: 300px;
    margin-bottom: 150px;
}
.box-6 {
    margin-bottom: -450px;
}
.box-7 {
    margin-left: 150px;
}
.box-8 {
    margin-bottom: -300px;
}
.box-9 {
    
}