@charset "utf-8";
@import url('./normalize.css');
@import url('./reset.css');
body {
  background: #555;
}

.container {
  background: #bbb;
  min-height: 200vh;
  width: 1000px;
  margin: 0 auto;
}

.header {
  background: yellow;
  min-height: 200px;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  border: 10px solid blue;
  font-size: 2.0rem;
}

.main-content {
  background: green;
}

.main-content div {
  display: inline-block;
}

.news,
.rank,
.personel {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.news {
  background: aqua;
}

.rank {
  background: olive;
}

.personel {
  background: violet;
}

.footer {
  background: red;
}

.info-list {}

.info-list li {
  border: 1px solid black;
}

.info-1 {
  top: 100px;
}

.info-3 {
  top: 100px;
}