@charset "utf-8";
@import url("./reset.css");
@import url("./fontello.css");
@import url("./fonts.css");
body {
  background: #EFF2F6;
  font-family: "Noto Sans Regular";
  display: flex;
  align-items: center;
  height: 100vh;
}

.list {
  background: #fff;
  width: 41.5px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.08);
  transition: all 1s ease-in-out;
  height: 207.5px;
}

.list:hover,
.list:focus {
  width: 130px;
  padding: 0 5px;
}

.list a {
  padding-left: 10px;
  line-height: 2.5rem;
  display: block;
  text-decoration: none;
  color: #adb5bd;
  font-size: 0.9rem;
}

.list a:hover {
  color: #495057;
}

.list a::before {
  font-family: 'fontello';
  font-size: 1.4rem;
  color: #adb5bd;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.list li:nth-child(1) a::before {
  content: "\f301";
}

.list li:nth-child(2) a::before {
  content: "\f30d";
}

.list li:nth-child(3) a::before {
  content: "\f313";
}

.list li:nth-child(4) a::before {
  content: "\f316";
}

.list li:nth-child(5) a::before {
  content: "\f31c";
}


/* 헐 ! :hover먼저 안써주면 안먹음 */

.list a:hover::before {
  color: #495057;
}


/* .icon-html5:before { content: '\f13b'; } 
.icon-github-circled:before { content: '\f301'; } 
.icon-facebook-circled:before { content: '\f30d'; }
.icon-gplus-circled:before { content: '\f310'; } 
.icon-pinterest-circled:before { content: '\f313'; } 
.icon-tumblr-circled:before { content: '\f316'; } 
.icon-dribbble-circled:before { content: '\f31c'; }  */